@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.postImage {
  // display:flex;
  width: 100%;
  //   margin: 10rem auto;
  //   height: 570px;
  //   position:absolute
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: solid 1px grey;
  
}
