.tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .toolUpper {
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .favTrue{
      background-color: crimson;
    }
    .favFalse{
      background-color: none;
    }
  }
}
