.tool {
  display: flex;
  
  
  // color: aliceblue;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;

  .toolUpper {
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .favTrue{
     color: rgba(160, 0, 0, 0.822);
    //  padding-right: 10px;
    }
    .favFalse{
      background-color: none;
    }
  }
}
