.postComment {
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-top: grey solid 1px;
  .viewThread {
    display: flex;
    padding-bottom: .5em;
    text-transform: lowercase;
    font-style: italic;
    font-family: fantasy;
    justify-content: flex-end;
    // position: relative;
  }
  .popComment{
    display: flex;
    padding-bottom: 1em;
    text-transform: lowercase;
    font-style: italic;
    font-family: fantasy;
  }
}
