.filterToolBar{
   display: flex;
   flex-direction: row;
   margin-left: 1em;
   width:60.13em;
   height:3.5em;
   border-bottom: solid 5px rgb(5, 5, 5);
   // padding-left: 5em;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 55px;
   left:355px;
   z-index: 100;
}


