.filterToolBar{
   display: flex;
   flex-direction: column;
   position: fixed;
   // justify-content: flex-start;
   align-items: flex-start;
   left:0;
   padding-left: 1em;
   padding-top: 2em;
   
   // flex-direction: column;
   
}