.App {
  
    .appBody{

      margin-top: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;

     
    }
    .postDialog{
      padding-bottom: 1em;
    }
    .searchResult{
      padding-top:1em;
    }
    
  }