.searchBody{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
 
.username {
  article {
    display: flex;
    justify-content: space-evenly;
    .user_text{
        padding: .5em;
    }
  }
}
