.comment {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3em;  
  // border- : 5px solid black;
  .userName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .singleComment{
    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
