.comment {
  .displayComment {
    display: flex;
    // width: 52em;
    overflow-wrap: break-word;
    padding:1em;
    justify-content: space-between;
    // border-bottom: grey solid 1px;
    // overflow-y: scroll;
    left: 0;
    bottom: 500px;
    // flex-direction: column;
    // height: 45em;
    width: 100%;

    pre {
      width: 100%;
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
    .commentBox{
      overflow-wrap: break-word;
      width: 80%;
    }
  }
}
